<!DOCTYPE html>
<html>
  <head>
    <title>株式会社Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <nav class="navbar navbar-light bg-light">
        <span class="navbar-text"  width="30" height="30" alt="">
        <p>ようこそツイッタークローンへ！！</p>
        </span>
      </nav>
  </header>

  <%= image_tag 'bluebird_baka.png', width: '300px' %>
  <%= yield %>

  <footer>
  <p>株式会社Twitter</p>
  </footer>
  
</body>

</html>
